/* Navigation */ 
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0rem 0.6rem;
    padding-bottom: 1rem;
}

/* Home section */ 
#Home{
    height: 24rem;
    padding: 1.5rem 1.1rem;
 }

 #Home::before{
     height: 33rem;
 }

 #Home p{
     font-size: 0.9rem;
 }

/* Services section */ 
#services{
     flex-direction: column;
 } 
 
 #services .box{
    padding: 0.5rem;
    margin: 0.6rem -1rem;
  } 
  
  /* Client section */
  
  #clients{
      flex-wrap: wrap;
  }

  #clients img{
      width: 3.1rem;
      padding: 0.2rem 0.4rem;
      height: auto;
  }
  /* Contact */ 
  
  #contact-box form{
      width: 80%;
  }
  /* Footer */

  /* Utility Class */

  .h-primary{
      font-size: 1.4rem;
  }

  .btn{
      font-size: 14px;
  }